		{{ label }}: {{ device }}@{{ cs }} {
			compatible = "{{ compatible }}";
			reg = <{{ cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			#address-cells = <1>;
			#size-cells = <0>;
{%- if interrupt_gpio is not none %}
			interrupt-parent = <&{{ gpio_label }}>;
			interrupts = <{{ interrupt_gpio }} {{ irq_type }}>;
{%- endif %}
{%- for ch in channels %}
			channel@{{ ch.id }} {
				reg = <{{ ch.id }}>;
{%- if ch.name is defined and ch.name is not none %}
				label = "{{ ch.name }}";
{%- endif %}
			};
{%- endfor %}
		};
