{% from "_jesd_macros.tmpl" import jesd_top_device_props %}
		{{ label }}: ad9144@{{ cs }} {
			compatible = "adi,ad9144";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <{{ cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			clocks = <&{{ clk_ref }}>;
			clock-names = "dac_clk";
{{- jesd_top_device_props(jesd204_top_device, jesd204_link_ids, jesd204_inputs) }}
			adi,subclass = <1>;
			adi,interpolation = <1>;
{%- for g in gpio_lines %}
			{{ g.prop }} = <&{{ g.controller }} {{ g.index }} 0>;
{%- endfor %}
		};
