{% from "_jesd_macros.tmpl" import jesd_top_device_props %}
		{{ label }}: ad9152@{{ cs }} {
			compatible = "adi,ad9152";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <{{ cs }}>;
			spi-cpol;
			spi-cpha;
			spi-max-frequency = <{{ spi_max_hz }}>;
			adi,spi-3wire-enable;
			clocks = <&{{ clk_ref }}>;
			clock-names = "dac_clk";
			adi,jesd-link-mode = <{{ jesd_link_mode }}>;
			adi,subclass = <1>;
			adi,interpolation = <1>;
{{ jesd_top_device_props(jesd204_top_device, jesd204_link_ids, jesd204_inputs) }}
{%- for g in gpio_lines %}
			{{ g.prop }} = <&{{ g.controller }} {{ g.index }} 0>;
{%- endfor %}
		};
