		{{ label }}: ad9528-1@{{ cs }} {
			compatible = "adi,ad9528";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <{{ cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			clock-output-names = "ad9528-1_out0", "ad9528-1_out1", "ad9528-1_out2", "ad9528-1_out3", "ad9528-1_out4", "ad9528-1_out5", "ad9528-1_out6", "ad9528-1_out7", "ad9528-1_out8", "ad9528-1_out9", "ad9528-1_out10", "ad9528-1_out11", "ad9528-1_out12", "ad9528-1_out13";
			#clock-cells = <1>;
			adi,vcxo-freq = <{{ vcxo_hz }}>;
			adi,refa-enable;
			adi,refa-diff-rcv-enable;
			adi,refa-r-div = <1>;
			adi,osc-in-cmos-neg-inp-enable;
			adi,pll1-feedback-div = <4>;
			adi,pll1-charge-pump-current-nA = <5000>;
			adi,pll2-vco-div-m1 = <3>;
			adi,pll2-n2-div = <10>;
			adi,pll2-r1-div = <1>;
			adi,pll2-charge-pump-current-nA = <805000>;
			adi,sysref-src = <2>;
			adi,sysref-pattern-mode = <1>;
			adi,sysref-k-div = <512>;
			adi,sysref-request-enable;
			adi,sysref-nshot-mode = <3>;
			adi,sysref-request-trigger-mode = <0>;
			adi,status-mon-pin0-function-select = <1>;
			adi,status-mon-pin1-function-select = <7>;
{%- for gl in gpio_lines %}
			{{ gl.prop }} = <&{{ gl.controller }} {{ gl.index }} 0>;
{%- endfor %}
{%- for ch in channels %}
			ad9528_0_c{{ ch.id }}: channel@{{ ch.id }} {
				reg = <{{ ch.id }}>;
				adi,extended-name = "{{ ch.name }}";
				adi,driver-mode = <0>;
				adi,divider-phase = <0>;
				adi,channel-divider = <{{ ch.divider }}>;
{%- if ch.freq_str %}
				// {{ ch.freq_str }}
{%- endif %}
				adi,signal-source = <{{ ch.signal_source }}>;
{%- if ch.is_sysref %}
				adi,jesd204-sysref-chan;
{%- endif %}
			};
{%- endfor %}
		};

