		{{ label }}: ad9528@{{ cs }} {
			compatible = "adi,ad9528";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <{{ cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			adi,spi-3wire-enable;
			clock-output-names = "ad9528_out0", "ad9528_out1", "ad9528_out2", "ad9528_out3", "ad9528_out4", "ad9528_out5", "ad9528_out6", "ad9528_out7", "ad9528_out8", "ad9528_out9", "ad9528_out10", "ad9528_out11", "ad9528_out12", "ad9528_out13";
			#clock-cells = <1>;
			adi,vcxo-freq = <{{ vcxo_hz }}>;
			adi,pll1-bypass-enable;
			adi,osc-in-diff-enable;
			adi,pll2-m1-frequency = <1233333333>;
			adi,pll2-charge-pump-current-nA = <35000>;
			jesd204-device;
			#jesd204-cells = <2>;
			jesd204-sysref-provider;
{%- for gl in gpio_lines %}
			{{ gl.prop }} = <&{{ gl.controller }} {{ gl.index }} 0>;
{%- endfor %}
{%- for ch in channels %}
			ad9528_{{ cs }}_c{{ ch.id }}: channel@{{ ch.id }} {
				reg = <{{ ch.id }}>;
				adi,extended-name = "{{ ch.name }}";
				adi,driver-mode = <3>;
				adi,divider-phase = <0>;
				adi,channel-divider = <{{ ch.divider }}>;
{%- if ch.freq_str %}
				// {{ ch.freq_str }}
{%- endif %}
				adi,signal-source = <{{ ch.signal_source }}>;
{%- if ch.is_sysref %}
				adi,jesd204-sysref-chan;
{%- endif %}
			};
{%- endfor %}
		};
