		{{ label }}: ad9523-1@{{ cs }} {
			compatible = "adi,ad9523-1";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <{{ cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			clock-output-names = "ad9523-1_out0", "ad9523-1_out1", "ad9523-1_out2", "ad9523-1_out3", "ad9523-1_out4", "ad9523-1_out5", "ad9523-1_out6", "ad9523-1_out7", "ad9523-1_out8", "ad9523-1_out9", "ad9523-1_out10", "ad9523-1_out11", "ad9523-1_out12", "ad9523-1_out13";
			#clock-cells = <1>;
			adi,vcxo-freq = <{{ vcxo_hz }}>;
			adi,spi-3wire-enable;
			adi,pll1-bypass-enable;
			adi,osc-in-diff-enable;
			adi,pll2-charge-pump-current-nA = <413000>;
			adi,pll2-m1-freq = <1000000000>;
			adi,rpole2 = <0>;
			adi,rzero = <7>;
			adi,cpole1 = <2>;
{%- for gl in gpio_lines %}
			{{ gl.prop }} = <&{{ gl.controller }} {{ gl.index }} 0>;
{%- endfor %}
{%- for ch in channels %}
			ad9523_{{ cs }}_c{{ ch.id }}:channel@{{ ch.id }} {
				reg = <{{ ch.id }}>;
				adi,extended-name = "{{ ch.name }}";
				adi,driver-mode = <3>;
				adi,divider-phase = <1>;
				adi,channel-divider = <{{ ch.divider }}>; // {{ ch.freq_str }}
			};
{%- endfor %}
		};
