{# ADRV9009/9025 device node (SPI child node, rendered inside &spi { ... } wrapper) #}
		{{ phy_label }}: {{ phy_node_name }}@{{ trx_cs }} {
			compatible = {{ phy_compatible }};
			reg = <{{ trx_cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			clocks = {{ trx_clocks_value }};
			clock-names = {{ trx_clock_names_value }};
			#clock-cells = <1>;
			clock-output-names = "rx_sampl_clk", "rx_os_sampl_clk", "tx_sampl_clk";
			reset-gpios = <&{{ gpio_label }} {{ trx_reset_gpio }} 0>;
			sysref-req-gpios = <&{{ gpio_label }} {{ trx_sysref_req_gpio }} 0>;
			jesd204-device;
			#jesd204-cells = <2>;
			jesd204-top-device = <0>;
			jesd204-link-ids = <{{ trx_link_ids_value }}>;
			jesd204-inputs = {{ trx_inputs_value }};
{{ trx_profile_props_block -}}
		};
{% if is_fmcomms8 %}
		{{ trx1_phy_label }}: {{ phy_node_name }}@{{ trx2_cs }} {
			compatible = "{{ trx1_phy_compatible }}";
			reg = <{{ trx2_cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			clocks = {{ trx1_clocks_value }};
			clock-names = {{ trx_clock_names_value }};
			#clock-cells = <1>;
			clock-output-names = "rx_sampl_clk", "rx_os_sampl_clk", "tx_sampl_clk";
			reset-gpios = <&{{ gpio_label }} {{ trx2_reset_gpio }} 0>;
			jesd204-device;
			#jesd204-cells = <2>;
			jesd204-top-device = <0>;
			jesd204-link-ids = <{{ trx_link_ids_value }}>;
			jesd204-inputs = {{ trx_inputs_value }};
{{ trx_profile_props_block -}}
		};
{% endif %}
