{# Context vars: instance (ConverterInstance), rx_jesd_label, spi_cs #}
	{{ instance.name }}: ad9081@{{ spi_cs }} {
		compatible = "adi,ad9081";
		reg = <{{ spi_cs }}>;
		spi-max-frequency = <1000000>;

		jesd204-device;
		#jesd204-cells = <2>;
		jesd204-top-device = <0>;
		jesd204-link-ids = <1 0>;

		jesd204-inputs = <&{{ rx_jesd_label }} 0 1>;
	};
