	{{ instance.name | replace("-", "_") }}: axi-clkgen@{{ "%08x" | format(instance.base_addr) }} {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <{{ reg_addr(instance.base_addr) }} {{ reg_size(0x10000) }}>;
		#clock-cells = <1>;
		clocks = <&{{ ps_clk_label }}{% if ps_clk_index is not none %} {{ ps_clk_index }}{% endif %}>, <&{{ ps_clk_label }}{% if ps_clk_index is not none %} {{ ps_clk_index }}{% endif %}>;
		clock-names = "clkin1", "s_axi_aclk";
		clock-output-names = "{{ instance.name | replace("-", "_") }}_0", "{{ instance.name | replace("-", "_") }}_1";
	};
