{# Context vars: instance (Jesd204Instance), jesd (dict with keys F, K), clkgen_label, hmc_channel #}
	{{ instance.name | replace("-", "_") }}: axi-jesd204-{{ instance.direction }}@{{ "%08x" | format(instance.base_addr) }} {
		compatible = "adi,axi-jesd204-{{ instance.direction }}-1.0";
		reg = <0x0 0x{{ "%08x" | format(instance.base_addr) }} 0x0 0x1000>;
{%- if instance.irq is not none %}
		interrupts = <0 {{ instance.irq }} IRQ_TYPE_LEVEL_HIGH>;
{%- endif %}
		clocks = <&{{ clkgen_label }} 0>, <&hmc7044 {{ hmc_channel }}>, <&{{ clkgen_label }} 1>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		adi,octets-per-frame = <{{ jesd.F }}>;
		adi,frames-per-multiframe = <{{ jesd.K }}>;

		#sound-dai-cells = <0>;
	};
