{# LTC6953 clock distribution SPI device node #}
		{{ label }}: ltc6953@{{ cs }} {
			compatible = "adi,ltc6953";
			reg = <{{ cs }}>;
			spi-max-frequency = <{{ spi_max_hz }}>;
			#clock-cells = <1>;
{%- if clks_str is not none %}
			clocks = {{ clks_str }};
			clock-names = "clkin";
{%- endif %}
{%- if clock_output_names_str is not none %}
			clock-output-names = {{ clock_output_names_str }};
{%- endif %}
{%- for ch in channels %}
			{{ label }}_c{{ ch.id }}: channel@{{ ch.id }} {
				reg = <{{ ch.id }}>;
				adi,extended-name = "{{ ch.name }}";
				adi,divider = <{{ ch.divider }}>;
			};
{%- endfor %}
		};
